/*----------------------------- SECTIONS ----------------------------- */
/*-----HERO SECTION-----*/
.HERO-DESKTOP-SECTION{
    margin-bottom: 135px;
    display: block;
}
.hero-main-selection,.hero-main-selection:focus{
    display: inline-block;
    max-width: 800px;
    width: 100%;
    height: 40px;
    background-color: #2A2F3B;
    border: solid #1F5EFF 2px;
    border-radius: 8px;
    color: whitesmoke;
    padding-left: 5px;
    font-size: 16px;
    outline: none; 
    box-shadow: 0 0 10px 5px #0c2666;
    margin-top: 45px;
    text-align: center;
}


.MOBILE-HERO-SECTION{
    display: none;
}

@media (max-width: 750px) {
    .HERO-DESKTOP-SECTION{
        display: none;
     }
     .MOBILE-HERO-SECTION{
        display: block;
     }
 }









/*-----SERVICES SECTION-----*/
.SERVICES-DESKTOP-SECTION{
    margin-bottom: 250px;
}

.Services-headin{
    letter-spacing: 0;
}

.hero-flex-items-img{
  
width: 30px;
height: 30px;
margin-top: 15px;
}
.hero-flex-items{
   margin-top: 13px;
}

.line{
    height: 80px;
    border: #1F5EFF solid 0.5px; 
    box-shadow: 0 0 10px 3px #0c2666;
}

.swiper-wrapper{
    margin-bottom: 50px;
}
.SERVICES-PHONE-SECTION{
    display: none;
}
.SERVICES-PHONE-SECTION{
    margin-top: 190px;
    margin-bottom: 300px;
}
@media (max-width: 850px) {
    .SERVICES-PHONE-SECTION{
        display: block;
     }
     .SERVICES-DESKTOP-SECTION{
        display: none;
     }
 }



 .section {
    padding: 60px 20px;

    background-color: black;
    text-align: center;
  }




  .features {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;

    margin: 0 auto;
  }

  .feature {
    flex: 1;
    min-width: 280px;
    max-width: 320px;
  }

  .feature-icon {
    font-size: 40px;
    color: #ff4f1f;
    margin-bottom: 20px;
  }

  .feature-title {
    color: #0c2666;
    font-size: 20px;
    margin-bottom: 15px;
  }

  .feature p {
    color: #ccc;
    font-size: 15px;
    line-height: 1.6;
  }

  .feature a {
    display: inline-block;
    margin-top: 15px;
    color: #1F5EFF;
    text-decoration: none;
    border-bottom: 1px solid #1F5EFF;
    padding-bottom: 2px;
    transition: 0.3s;
  }

  .feature a:hover {
    color: #fff;
    border-color: #fff;
  }







/*-----Work with SECTION-----*/
.Work-with-section{
    margin-top: 100px;
    margin-bottom: 220px
}
.work-con{
    gap: 50px;
    margin: 20px;   
}
.work-with-heading{
    margin-bottom: 100px;
}

.work-imgs{
    max-width: 100px;
    width: 100%;
    cursor: pointer;
}

.d{
    margin-top: 10px;
    height: 100px;
    max-width: 100px;
    width: 100%;
}
@media (max-width: 500px) {
.work-con{
    .work-con {
        flex-direction: column;
    }

    .work-con > div {
        flex: 1 1 100%;
        max-width: 100%;
    }
    
}
}

/* MASTER COURSES GRID  */
.MASTER-COURSES-SECTION{
    margin-top: 200px;
    margin-bottom: 150px;

}
.MASTER-COURSES-HEADING{
    margin-bottom: 170px;
}
.master-courses-element{
    border: #0c2666 solid 2px;
    justify-items: center;
    background-color: rgba(33, 37, 41, 0.3); 
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 3px #0c2666;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.master-courses-title{
    margin-top: 10px;
    margin-bottom: 30px;
    letter-spacing: 0px;
}
.master-courses-status{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: clamp(12px, 2vw, 20px);
    white-space: nowrap;
    letter-spacing: 1px;
}
.master-courses-element:hover{
    border: #0c2666 solid 2px;
    justify-items: center;
    background-color: rgba(33, 37, 41, 0.5); 
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px 5px #0c2666;
    transform: scale(1.05);
    cursor:default;

}

@media (max-width: 685px) {
    .master-courses-container {
      grid-template-columns: repeat(2, 1fr);
    }
}
  
@media (max-width: 500px) {
    .master-courses-container {
        grid-template-columns: repeat(1, 1fr);
      }
 }













/*-----roboot_section-----*/
.roboot_section{
    margin-top: 500px;
    margin-bottom: 350px;
}
.feature-imgs {
    max-width: 250px;
    width: 100%;
    transition: transform 0.4s ease, box-shadow 0.4s ease;

}
@media(max-width: 450px){
    .feature-imgs{
        width: 100%;
        max-width: 150px;
    }
    .send-btn{
        margin: 5px;
        
    }
    .chat-header p {
        font-size: 10px;
    }
    


    


}
.send-btn{
    margin: 10px;
    
}
.rob{
    margin-bottom: 10px;

}
.chat-container {
    width: 100%;
    max-width: 500px;

    border-radius: 20px;

    overflow: hidden;

}

.chat-header {
    text-align: center;
    margin-bottom: 60px;
}

.chat-header p {
    font-size: 14px;
}

/* منطقة الرسائل */
.chat-messages {
    padding: 20px;
    max-height: 200px;
    overflow-y: auto;
}
.chat-messages p{
    display: block;
  
}


.message {
    margin-bottom: 20px;

}

.message-content {
    max-width: 80%;
    padding: 12px 18px;
    border-radius: 18px;
    line-height: 1.5;
    font-size: 15px;
    transition: all 0.3s ease;
}

.bot-message {
    justify-content: flex-start;
}

.bot-message .message-content {
    background: linear-gradient(135deg, #8e8e8e, #d6d6d6);
    color: #000;
}

.user-message {
    justify-content: flex-end;
}

.user-message .message-content {

    color: #ffffff;
}

/* منطقة الإدخال */
.chat-input {
    display: flex;
  
    border: none; 
}

.chat-input input {
    flex: 1;
    padding: 5px 8px;
    border: none;
    border-radius: 25px;
    outline: none;
    font-size: 16px;
    background: #333;
    color: #fff;
}

.chat-input input::placeholder {
    color: #bbbbbb;
}

.chat-input img {
    margin-left: 10px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.chat-input img:hover {
    transform: scale(1.1);
}

#user-input{
    height: 40px;
}

.feat-title{
    margin: 50px 100px;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}

.feat-para {
    color: rgba(255, 255, 255, 0.5); 
    font-weight: 300; 
    font-size: 24px; 
    opacity: 0.5; 
    transition: opacity 0.3s ease-in-out; 
    margin-bottom: 50px;
 
}
.user-msg{
    text-align: end;

    padding: 2px;
    padding-right: 5px;
    margin-right: 2px;
}
.robot-msg{
    text-align: left;

    padding: 2px;
    padding-left: 5px;
    margin-left: 2px;

    
}

.feat-para:hover {
    opacity: 1;
 
     color: rgba(255, 255, 255, 0.85);

}





/* Tips Section */
 .Tips-Section{
    margin-bottom: 300px;
    padding: 50px;

} 
.lamp{
    width: 100%;
    max-width: 200px;
   


}
.Tips-HEADING{
    margin-bottom: 30px;

}

.tips-container{
    margin-top: 40px;
    padding: 40px;
    max-height: 200px;
    overflow-y: auto;
    text-align: left
    
    
}
.tip{
    margin: 15px;
}

@media(max-width: 600px){

    .lamp{
        width: 100%;
        max-width: 150px;
        align-items: center;
    }


    


}
@media(max-width: 450px){

    .lamp{
        width: 100%;
        max-width: 100px;
        align-items: center;
    }
    .tip{
        margin: 1px;
        margin-bottom: 20px;
        font-size: 10px;
    }
    .tips-container{
        margin-top: 40px;
        padding: 5px;

        
        
    }
    


    


}







/*-----ABOUT SECTION-----*/


.about-heading{
    margin-bottom: 120px;
    margin-top: 300px;
}
.abouhth4-heading{
    font-weight: 500;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    color: #D9D9D9;
 
}

.about-linee{
    width: 80px;
    height: 5px;
    background: linear-gradient(to right, #1F5EFF, #B986DD);
}
.about-names{
   
    margin: 1px;
    letter-spacing: 0px;
    font-size: 12px;
    font-weight: 300;
    color: #f5f5f5;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 
                 0 0 10px rgba(255, 255, 255, 0.5);
                 transition: all 0.3s ease;
}
.our-team-sec{
    margin-top: 15px;
}
.about-names:hover{
    padding-left: 10px;
    cursor:pointer;
}
.aboutus{
    padding: 30px 60px;
}

.courses {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.course {
    position: relative;
    background: #111;
    padding: 20px;
    text-align: center;
    color: white;
    border-radius: 10px;
    width: 200px;
    height: 250px;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s;
}

.course:hover {
    transform: scale(1.05);
}

/* تصميم الطبقة الشفافة */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* لون داكن شفاف */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    opacity: 0; /* مخفي افتراضياً */
    transition: opacity 0.3s;
}


.course:hover .overlay {
    opacity: 1;
}


























































