.container {
    display: flex;
   
}
.NAVBR-SECTION{
    margin-bottom: 40px;

}  
.sidebar {
    padding: 20px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    margin-bottom: 5px;
}

.menu-item:hover {
    background-color: #333;
}

.menu-item a {
    color: white;

}

.logout {
    color: #ff6b6b;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 12px;
}

.aside-line-container {
    display: flex;
    justify-content: center;
}

.aside-line {
    background-color: #333;
    width: 1px;
    height: 100%;

    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}

.courses-grid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
   padding: 200px 110px; ;
    padding: 10px;
    overflow-y: auto;
    height: 700px;
    overflow-x: hidden;
    gap: 20px;

}

.courses-heading {
    grid-column: 1 / -1;
    margin-bottom: 10px;
}

.courses-subheading {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.course-card {
    border: 2px solid #0c2666;
    background-color: rgba(33, 37, 41, 0.3);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 3px #0c2666;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   
}

.course-card:hover {
    background-color: rgba(33, 37, 41, 0.5);
    box-shadow: 0 0 20px 5px #0c2666;
    transform: scale(1.05);
}

.course-card img {
    margin-bottom: 15px;
}

.courses-title {
    margin: 10px 10px;
    font-size: 1.2rem;
}

.subtitle {
    margin: 5px ;
    color: #aaa;
}

.small-p {
    margin: 5px 0;
    font-size: 0.9rem;
    color: #ccc;
}

@media (max-width: 768px) {

    .container {
        flex-direction: column;
    }
    
    .aside-line {
        display: none;
    }
    
    .sidebar {
        flex-direction: row;
        flex-wrap: wrap;
        min-width: 100%;
        padding: 10px;
        display: flex;
        justify-content: space-around;
    }
    
    .menu {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    
    }

    

    .menu-item {
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        color: white;
        margin-bottom: 0;
    }
    
    .logout {
        display: none;
    }
}

@media (max-width: 480px) {
    .courses-grid {
        grid-template-columns: 1fr;
        padding: 20px 40px;
       
    }
    
    .menu {
       
        width: 100%;
    }
    .menu-item {
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 0px;
        border-radius: 5px;
        cursor: pointer;
        color: white;
        margin-bottom: 0;
    }
    
    .logout {
        display: none;
    }
}